@import "abstract/variables";
@import "base/typography";
@import "base/utility";
@import "base/animation";
@import "base/base";
@import "layout/header";
@import "layout/grid";
@import "layout/form";
@import "pages/home";
@import "base/compositions";
@import "base/feature-box";
@import "base/Card";
@import "base/story";
@import "base/bg-video";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-btn;
  padding: 3rem;
  box-sizing: border-box;
}
