$color-light-green: #7ed56f;
$color-mid-green: #55c57a;
$color-dark-green: #28b485;
$color-primary: #28b485;
$color-btn: rgb(128, 124, 124);
$color-white: White;
$color-black: black;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;

//FONT
$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizental: 6rem;
